<h1>“If toast is cut diagonally, I can’t eat it.” —Nick Fury</h1>
<%= simple_form_for @quote do |f| %>
  <%= f.input :saying %>
  <%= f.input :author %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-danger' %>


<% end %>

